/* Helen's existing styling */
.vehicleTyp,.model{
    color:#aaaaaa;
}

.carPrice{
    color:blue;
    size:36px;
}

caption{
    caption-side: top;
    background:lightskyblue;
    font-size:22px;
    padding:10px;
    color:black;
}



/* Pete's styling */
@media (min-width: 1200px) {
    

    .search-row {
        height: 100px;
        background-image: url("../images/qbkls.png");
    }

    body {
        background-image: url("../images/qbkls.png");
    }

    .results-area {
        border-top: solid 1px black;
    }

    a {
        text-decoration: none;
    }

}