.vehicleTyp,.model{
    color:#aaaaaa;
}

.carPrice{
    color:blue;
    size:36px;
}

caption{
 
    caption-side: top;
    background:lightskyblue;
    font-size:22px;
    padding:10px;
    color:black;
  }

ul#nav-auth li{
    display:inline;
    margin:12px;
}

